DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

LANGFLOW_SERVER_URL=http://localhost:7860
LANGFLOW_API_KEY=
LANGFLOW_FLOW_ID=
LANGFLOW_TIMEOUT_MS=150000

GAMERPOWER_API_URL=https://www.gamerpower.com/api
